html{
    font-size: 62.5%;
}

body{
    background-color: black;
}

main{
    width: 50rem;
    height: 50rem;
    margin: auto;
}

.form{
    margin: 10rem auto 5rem auto;
    width: 40rem;
    height: 30rem;
    background-color: white;
    clip-path: inset(0 0 0 0);
}

.circle-selector{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    clip-path: circle();
    background-color: rgb(221, 221, 221);
}

/* #selector-border-top-right{
    margin-left: .8rem;
    margin-top: .8rem;
}
#selector-border-top-left{
   margin-left: 38rem;
   margin-top: .8rem;
}

#selector-border-bottom-right{
    margin-top: 28rem;
    margin-left: .8rem;
}

#selector-border-bottom-left{
    margin-top: 28rem;
    margin-left: 38rem;
} */


.pattern-input{
    margin-left: 5rem;
    margin-right: .5rem;
    margin-bottom: 1rem;
    display: inline-block;
}

